<div class="hero min-h-screen bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 mb-16">
  <div class="hero-content flex flex-col lg:flex-row items-center justify-center text-center text-white">
    <img src="/assets/shopping.png" class="max-w-md rounded-lg shadow-2xl mb-8 lg:mb-0 lg:mr-16 animate__animated animate__fadeInLeft" />
    <div class="animate__animated animate__fadeInRight">
      <h1 class="text-5xl font-extrabold leading-tight mb-4">Welcome to Becha-kina</h1>
      <p class="text-lg mb-6">Enjoy the Shopping</p>
      <button class="btn btn-primary transform hover:scale-110 transition-transform">
        <a routerLink="/dashboard">Shop Now</a>
      </button>
    </div>
  </div>
</div>
